@import "./utilities/variables";
.redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: $color-secundario;
    height: 40px;
  
  }

  .imagen-redes img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle
  }

  .manjares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: $color-primario;
  }
  
  nav {
    height: 80px;
    text-align: center;
    margin-left: 120px;
  
    ul li {
      display: inline;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    align-content: center;
  }
  
  .logo {
    width: 150px;
    height: 150px;
    padding: 20px 20px 20px 20px;
    display:block;
  }


/**PUNTOS DE QUIEBRE*/

@media (max-width: 720px) {
    .manjares {
      flex-direction: column;
      align-items: center;
    }
  
    nav {
      height: 50px;
      margin: 0;
      padding: 0;
  
      ul li {
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  
  @media (max-width: 480px) {
    header {
      position: static;
    }
  
.mio {
  line-height: 2;
}

    .logo {
      width: 140px;
      height: 140px;
    }
  
    nav {
      height: 110px;
  
      ul li {
        display: block;
        margin: 0px;
      }
    }
  
    a {
      font-size: 16px;
      line-height: 1.6;
    }
  }