.container-picada {
  @include flex(row,wrap,center,center); 
  padding: 10px 50px;
  
    .picada {
      display: flex;
      width: 80%;
      gap: 2px;
      justify-content: space-evenly;
    }
  }

    .picada img {
        object-fit: cover;
        box-shadow: 3px 3px 5px gray;
        width: 280px;
        height: 280px;
        margin: 10px;
      }
    
  
  
    /**PUNTOS DE QUIEBRE*/

  @media (max-width: 920px) {
    .picada img {
      width: 200px;
      height: 200px;
    }
  }
  
  @media (max-width: 650px) {
    .picada img {
      width: 160px;
      height: 160px;
    }
  }

  @media (max-width: 540px) {
    .picada {
      flex-direction: column;
      align-items: center;
    }
  
    .picada img {
      width: 170px;
      height: 170px;
    }
  }

  .p3 {
    padding: 30px;
    margin: 15px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $color-primario;
  }
