.container-picada {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 50px;
  
    .picada {
      display: flex;
      width: 80%;
      gap: 2px;
      justify-content: space-evenly;
  
      img {
        object-fit: cover;
        box-shadow: 3px 3px 5px gray;
        width: 360px;
        height: 360px;
        margin: 10px;
      }
    }
  }
  
  @media (max-width: 1140px) {
    .picada img {
      width: 260px;
      height: 260px;
    }
  }
  
  @media (max-width: 850px) {
    .picada img {
      width: 200px;
      height: 200px;
    }
  }
  
  @media (max-width: 650px) {
    .picada img {
      width: 160px;
      height: 160px;
    }
  }
  
  @media (max-width: 500px) {
    .picada {
      flex-direction: column;
      align-items: center;
    }
  
    .picada img {
      width: 200px;
      height: 200px;
    }
  }

  .p3 {
    padding: 30px;
    margin: 15px;
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $color-primario;
  }

  /**PUNTOS DE QUIEBRE*/

@media (max-width:480px) {

  .p3 {
      font-size: 16px;
  }
}