.container-experiencias {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .experiencias {
      display: flex;
      overflow: hidden;
      border: 2px solid black;
      box-shadow: 3px 3px 5px gray;
      margin: 20px;
      width: 80%;
      padding: 40px;
  
      img {
        margin: 5px;
        object-fit: cover;
        width: 90%;
        height: 300px;
      }
    }
  }

    /**PUNTOS DE QUIEBRE*/
